@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Rubik&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-style: 15px;
  }
  
  p {
    margin: 0 0 5px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

.logo{
  margin-left: auto;
  margin-right: auto;
  width: 337px;
  // height: 208px;
}

